.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}

body {
  -webkit-user-select: none;
}

body {
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-touch-callout: none;
}